@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio de Seion";
}

    <div class="text-center">
        <h1 class="display-3">Bienvenido a Prestamos GHI</h1>
        <ul class="list-group">
            <li class="list-group-item active, display-4">Beneficios </li>
            <li class="list-group-item">No tomamos en cuenta el historial en el buró. </li>
            <li class="list-group-item">Usted puede tener cualquier profesión u oficio.</li>
            <li class="list-group-item">Opción de pagos por transferencia o deposito</li>
            <li class="list-group-item">Gastos legales bajos.</li>
        </ul>
        <a href="https://www.dominalex.com/prestamospersonales">Inversiones Pablo Perez</a>.</p>
    </div>
