@page
@{
    ViewData["Title"] = "Cliente No Encontrado";
}


<h1 style="color:red">El Cliente que esta intentando consultar no existe</h1>
<br/>
<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a class="btn btn-primary" asp-page=".\RegistroClientes">Ir a Listado de Clientes</a>
</div>


