@page "{Id:int}"
@model PrestamosGHI.Pages.Clientes.EliminarModel

<form method="post">
    Seguro que desea eliminar el cliente
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>